.jumbotron {
  text-align: center;
  color: white;
  background-color: #99ddff;
  text-shadow: 2px 2px #ff0000;
}

.selected {
  color: #22bdf0;
}

.meal-form {
  margin-bottom: 80px;
}

.add-button {
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

body {
  background-color: #b3e6cc;
  font-family: 'Roboto', serif;
}

.filter {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.well {
  background-color: #e6ffe6;
}
